<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-start text-black p-4">

                <h4 class="mb-5" style="color: #35558a;">Are you sure you want to delete event '{{ event }}'?</h4>

            </div>
            <div class="modal-footer d-flex justify-content-center border-top-0 py-4">
                <form method="POST" action="{% url 'delete_event' pk=event.id %}">

                    {% csrf_token %}

                    <input type="hidden" name="next" value="{% url 'event_page' %}">
                    <button class="btn btn-lg btn-danger display-4" type="submit">Delete Event</button>


                </form>

            </div>
        </div>
    </div>
</div>