<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body text-start text-black p-4">

                <h4 class="mb-5" style="color: #35558a;">Are you sure?</h4>

            </div>
            <div class="modal-footer d-flex justify-content-center border-top-0 py-4">
                <form method="POST">
                    <div class="mbr-section-btn mt-3"><a class="btn btn-lg btn-secondary display-4"
                                                     href="">Delete Event</a></div>
                </form>

            </div>
        </div>
    </div>
</div>