<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--            <div class="modal-header border-bottom-0">-->
            <!--                <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>-->
            <!--            </div>-->

            <!--            <div class="modal-footer d-flex justify-content-center border-top-0 py-4">-->
            <form method="POST" action="">
                {% csrf_token %}
                <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                    <div class="d-flex flex-start w-100">

                        <div class="form-outline w-100">
                <textarea class="form-control" id="textAreaExample" rows="4"
                          style="background: #fff;"></textarea>
                            <label class="form-label" for="textAreaExample">Message</label>
                        </div>
                    </div>
                    <div class="float-end mt-2 pt-1">
                        <button type="button" class="btn btn-primary btn-sm">Edit comment</button>
                        <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
                    </div>
                </div>
            </form>
            <!--            </div>-->
        </div>
    </div>
</div>