<div class="modal fade" id="EditModall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="text-right cross"><i class="fa fa-times mr-2"></i></div>
            <div class="card-body text-center">
                <div class="comment-box text-center">
                    <h4>Edit comment</h4>


                    <form method="post" action="{% url 'edit_comment' pk=comment.id %}">
                        {% csrf_token %}
                        <div class="comment-area"><textarea class="form-control" name="comment"
                                                            placeholder="{{ comment.comment }}" rows="4"></textarea>
                        </div>
                        <div class="text-center mt-4 " style="margin-block-end: 10px;">
                            <button class="btn btn-success">Post<i class="fa fa-long-arrow-right ml-1"></i></button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>










