{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content %}
<br>
{% include 'includes/filter.html' %}
<br>


<div class="row g-4">
    {% for event in page_obj %}

    <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
            <div class="card-body text-center">
                <img src="{{ event.picture }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>

                    {% if event.description|length < 150 %}
                    <p class="card-text">{{ event.description}}</p>
                    {% else %}
                    <p class="card-text">{{ event.description|slice:":150" }}...</p>
                    {% endif %}

                    <h6 class="card-title">attendance: {{ event.user_attend.count }}</h6>
                    {% if user.is_authenticated %}
                    <a href="{% url 'event_detail_page' event.id  %}" class="btn btn-primary">More Info</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary">Log In For More Info</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}



    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

</div>


{% endblock %}