{% extends 'base.html' %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-6 image-wrapper md-pb">
            <img class="w-50" src="{{ event.picture }}" alt="img">
        </div>
        <div class="col-12 col-md-12 col-lg">
            <div class="text-wrapper align-left">
                <h1 class="mbr-section-title mbr-fonts-style mb-5 display-1"><strong>{{ event.name }}</strong></h1>
                <div>
                    <p>Category: {{ event.category }}</p>
                    <p>Locality: {{ event.city }}</p>
                    <p>Price: ${{ event.price }}</p>
                    <p>Starting at: {{ event.start_at }}</p>
                    <p>End: {{ event.end_at }}</p>

                </div>
                <p class="mbr-text mbr-fonts-style display-4">
                    {{ event.description }}</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-lg btn-secondary display-4"
                                                     href="">Attend now!</a></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}