{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block content %}

<div id="CarouselWithControls" class="carousel slide bg-info" data-ride="carousel">
    <div class="carousel-inner">

        {% for event in events %}
        {% if forloop.first %}
        <div class="carousel-item active" style="max-height: 300px">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <h1>{{event.name}}</h1>
                    <h3>Location: {{event.city}}</h3>
                    <h3>Start at: {{event.start_at}}</h3>
                </div>
                <div class="col-md-6 order-md-1">
                    <img src="{{event.picture}}" class="img-fluid d-none d-md-block" style="height: 300px"
                         alt="...">
                </div>
            </div>
        </div>
        {% else %}
        <div class="carousel-item" style="max-height: 300px">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <h1>{{event.name}}</h1>
                    <h3>Location: {{event.city}}</h3>
                    <h3>Start at: {{event.start_at}}</h3>
                </div>
                <div class="col-md-6 order-md-1">
                    <img src="{{event.picture}}" class="img-fluid d-none d-md-block" style="height: 300px"
                         alt="...">
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#CarouselWithControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#CarouselWithControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br>

<h2>Welcome to Event Agregation Service Page</h2>
<p><strong>Before start:</strong></p>
<ul>
    <li>To use our service, you need to create an account and log in.</li>
    <li>Choose your event.</li>
    <li>Attend your event and have a fun!</li>
    <li>You can provide feedback to the organizers by commenting.</li>
</ul>

<h3>Our Event Tips:</h3>

<div class="row g-4">
    {% for event in event_tips %}

    <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
            <div class="card-body text-center">
                <img src="{{ event.picture }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>

                    {% if event.description|length < 150 %}
                    <p class="card-text">{{ event.description}}</p>
                    {% else %}
                    <p class="card-text">{{ event.description|slice:":150" }}...</p>
                    {% endif %}

                    <h6 class="card-title">attendance: {{ event.user_attend.count }}</h6>
                    {% if user.is_authenticated %}
                    <a href="{% url 'event_detail_page' event.id  %}" class="btn btn-primary">More Info</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary">Log In For More Info</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}